<div class="row">
	<div class="col-md-6 col-sm-12">
		<table class="table table-borderless table-striped">
			<tbody>
				<tr>
					<td class="font-bold">Tanggal Mulai Bekerja</td>
					<td>2020-01-01</td>
				</tr>
				<tr>
					<td class="font-bold">ID Karyawan</td>
					<td>53253</td>
				</tr>
				<tr>
					<td class="font-bold">Golongan</td>
					<td></td>
				</tr>
				<tr>
					<td class="font-bold">ID User Company</td>
					<td>90122</td>
				</tr>
				<tr>
					<td class="font-bold">ID User Profile</td>
					<td>92678</td>
				</tr>
				<tr>
					<td class="font-bold">ID Workflow Status</td>
					<td>EMPSTS01</td>
				</tr>
				<tr>
					<td class="font-bold">Posisi</td>
					<td>Marketing</td>
				</tr>
				<tr>
					<td class="font-bold">Termination Date</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="form-group"><label for="idkaryawan">ID Karyawan</label><input pInputText type="text" class="form-control" /></div>
		<div class="form-group"><label for="idkaryawan">Divisi</label><input pInputText type="text" class="form-control" /></div>
		<div class="form-group"><label for="idkaryawan">Posisi</label><input pInputText type="text" class="form-control" /></div>
		<div class="form-group"><label for="idkaryawan">Perusahaan</label><p-dropdown styleClass="form-control"></p-dropdown></div>
		<div class="form-group">
			<label for="idkaryawan">Unggah Foto Perusahaan</label>
			<div><p-fileUpload label="ngahil" mode="basic" name="demo[]" class="ui-button-secondary" accept="image/*" maxFileSize="1000000"></p-fileUpload></div>
		</div>
		<hr />
		<button pButton icon="pi pi-user" class="ui-button-raised ui-button-primary" label="Buat Mutasi Karyawan"></button>
	</div>
</div>
