.wrap-header {
	display: block;
	position: relative;
	padding: 9px 30px;
	background: #fff;
	border-bottom: solid 1px #efefef;
	box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
	img {
		max-width: 80px;
		height: auto;
	}
}

.author {
	cursor: pointer;
	color: #8f8f8f;
}

.avatar {
	border-radius: 10rem !important;
	&.avatar-sm {
		width: 40px !important;
		height: 40px !important;
	}
}

.dropdown-menus {
	padding: 8px 0;
	font-size: 14px;
	margin-top: 5px;
	position: relative;
	top: 100%;
	z-index: 1000;
	float: left;
	min-width: 10rem;
	margin: 0.125rem 0 0;
	text-align: left;
	list-style: none;
	&.dropdown-menus-right {
		right: 0;
		left: auto;
	}

	> .dropdown-item {
		padding-left: 0;
		padding-right: 0;
		opacity: 0.8;
	}
}

.user.ui-overlaypanel {
	border: 1px solid #e8e8e8 !important;
}
