<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h5 class="card-label">Booking Hotel</h5>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-3">
				<p-dropdown styleClass="form-control" placeholder="Semua Perusahaan"></p-dropdown>
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-md-12">
				<p-table [responsive]="true" [columns]="columns" [value]="data" rows="25" [paginator]="true" [rowHover]="true">
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th class="text-center" *ngFor="let col of columns">{{ col.header }}</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
						<tr class="ui-selectable-row">
							<td *ngFor="let col of columns" [ngSwitch]="col.field">
								<span *ngSwitchCase="'created_at'">{{ rowData.created_at | date: 'dd MMM y H:mm' }}</span>
								<span *ngSwitchDefault>{{ rowData[col.field] }}</span>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</div>
