<div class="row pb-5">
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card counter1">
			<div class="media">
				<i class="icon-counter1 fa fa-shopping-basket"></i>
				<div class="media-body">
					<h4 class="title"><small>Transaction Biller</small>30,000</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card counter1">
			<div class="media">
				<i class="icon-counter1 fa fa-users"></i>
				<div class="media-body">
					<h4 class="title">
						<small>Member</small>
						10,000
					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-md-6 mb-4">
		<div class="card counter1">
			<div class="media">
				<i class="icon-counter1 fa fa-credit-card"></i>
				<div class="media-body">
					<h4 class="title">
						<small>Transaction Loan</small>
						10,000
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6"><p-chart type="line" [data]="data" [options]="options"></p-chart></div>
	<div class="col-md-6"><p-chart type="line" [data]="data2" [options]="options2"></p-chart></div>
</div>
