body .ui-breadcrumb {
	padding: unset;
}
body .ui-breadcrumb ul li .ui-menuitem-link {
	color: #333333;
	margin: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	-webkit-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}
body .ui-breadcrumb ul li .ui-menuitem-link:focus {
	outline: 0 none;
	outline-offset: 0;
	-webkit-box-shadow: 0 0 0 0.2em $color-focus;
	-moz-box-shadow: 0 0 0 0.2em $color-focus;
	box-shadow: 0 0 0 0.2em $color-focus;
}
body .ui-breadcrumb ul li.ui-breadcrumb-chevron {
	margin: 0 0.5em 0 0.5em;
	color: #afafaf;
	font-size: 0.8em;
}
body .ui-breadcrumb ul li:first-child a {
	color: #848484;
	margin: 0;
	font-size: 16px;
}
body .ui-breadcrumb ul li .ui-menuitem-icon {
	color: #848484;
}
