body .ui-dialog {
	padding: 0;
	-webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
}
body .ui-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #e9ecef;
	background: #ffffff;
	color: #212529;
	padding: 1rem;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	margin: 0;
	float: none;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
	color: #848484;
	border: 0 none;
	padding: 0;
	margin-left: 0.5em;
	-moz-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
	-o-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
	-webkit-transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
	transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon span {
	width: auto;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:hover {
	color: #333333;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon:focus {
	outline: 0 none;
	outline-offset: 0;
	-webkit-box-shadow: 0 0 0 0.2em $color-focus;
	-moz-box-shadow: 0 0 0 0.2em $color-focus;
	box-shadow: 0 0 0 0.2em $color-focus;
}
body .ui-dialog .ui-dialog-content {
	background-color: #ffffff;
	color: #333333;
	padding: 0.571em 1em;
}
body .ui-dialog .ui-dialog-footer {
	border-top: 1px solid #e9ecef;
	background: #ffffff;
	color: #212529;
	padding: 1rem;
	text-align: right;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
body .ui-dialog .ui-dialog-footer button {
	margin: 0 0.5em 0 0;
	width: auto;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content {
	padding: 1.5em;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span {
	float: none;
	display: inline-block;
	vertical-align: middle;
	line-height: 14px;
	margin: 0;
}
body .ui-dialog.ui-confirm-dialog .ui-dialog-content > span.ui-icon {
	margin-right: 0.35em;
	font-size: 16px;
}
