body .ui-message {
  padding: 0.429em;
  margin: 0;
}
body .ui-message.ui-message-info {
  background-color: #7fbcec;
  border: 0 none;
  color: #212121;
}
body .ui-message.ui-message-info .ui-message-icon {
  color: #212121;
}
body .ui-message.ui-message-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}
body .ui-message.ui-message-success .ui-message-icon {
  color: #212121;
}
body .ui-message.ui-message-warn {
  background-color: #ffe399;
  border: 0 none;
  color: #212121;
}
body .ui-message.ui-message-warn .ui-message-icon {
  color: #212121;
}
body .ui-message.ui-message-error {
  background-color: #f8b7bd;
  border: 0 none;
  color: #212121;
}
body .ui-message.ui-message-error .ui-message-icon {
  color: #212121;
}
body .ui-message .ui-message-icon {
  font-size: 1.25em;
}
body .ui-message .ui-message-text {
  font-size: 1em;
}
body .ui-messages {
  padding: 1em;
  margin: 1em 0;
}
body .ui-messages.ui-messages-info {
  background-color: #7fbcec;
  border: 0 none;
  color: #212121;
}
body .ui-messages.ui-messages-info .ui-messages-icon {
  color: #212121;
}
body .ui-messages.ui-messages-info .ui-messages-close {
  color: #212121;
}
body .ui-messages.ui-messages-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}
body .ui-messages.ui-messages-success .ui-messages-icon {
  color: #212121;
}
body .ui-messages.ui-messages-success .ui-messages-close {
  color: #212121;
}
body .ui-messages.ui-messages-warn {
  background-color: #ffe399;
  border: 0 none;
  color: #212121;
}
body .ui-messages.ui-messages-warn .ui-messages-icon {
  color: #212121;
}
body .ui-messages.ui-messages-warn .ui-messages-close {
  color: #212121;
}
body .ui-messages.ui-messages-error {
  background-color: #f8b7bd;
  border: 0 none;
  color: #212121;
}
body .ui-messages.ui-messages-error .ui-messages-icon {
  color: #212121;
}
body .ui-messages.ui-messages-error .ui-messages-close {
  color: #212121;
}
body .ui-messages .ui-messages-close {
  top: 0.25em;
  right: 0.5em;
  font-size: 1.5em;
  overflow: hidden;
  line-height: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
body .ui-messages .ui-messages-close:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: 0 0 0 0.2em #8dcdff;
  box-shadow: 0 0 0 0.2em #8dcdff;
}
body .ui-messages .ui-messages-icon {
  font-size: 2em;
}
body .ui-toast .ui-toast-message {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  margin: 0 0 1em 0;
}
body .ui-toast .ui-toast-message.ui-toast-message-info {
  background-color: #7fbcec;
  border: 0 none;
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: #b7d8b7;
  border: 0 none;
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-success .ui-toast-close-icon {
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn {
  background-color: #ffe399;
  border: 0 none;
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-warn .ui-toast-close-icon {
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-error {
  background-color: #f8b7bd;
  border: 0 none;
  color: #212121;
}
body .ui-toast .ui-toast-message.ui-toast-message-error .ui-toast-close-icon {
  color: #212121;
}
