<div class="card card-custom gutter-b">
	<div class="card-header">
		<div class="card-title">
			<h5 class="card-label">Master Product</h5>
		</div>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-9">
				<button pButton (click)="displayForm = true" class="ui-button ui-button-raised" label="Daftar Baru"></button>
			</div>
			<div class="col-md-3">
				<input pInputText class="form-control" placeholder="Search Daftar" />
			</div>
		</div>
		<div class="row pt-5">
			<div class="col-md-12">
				<p-table [responsive]="true" [columns]="columns" [value]="data" rows="25" [paginator]="true" [rowHover]="true">
					<ng-template pTemplate="header" let-columns>
						<tr>
							<th *ngFor="let col of columns" class="text-center">{{ col.header }}</th>
							<th class="text-center">Options</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns">
						<tr>
							<td *ngFor="let col of columns">
								{{ rowData[col.field] }}
							</td>
							<td class="text-center"><button pButton type="button" (click)="displayForm = true; showData(rowData)" class="ui-button-primary" icon="pi pi-cog"></button></td>
						</tr>
					</ng-template>
				</p-table>
			</div>
		</div>
	</div>
</div>
<p-dialog [(visible)]="displayForm" header="Form Product" [style]="{ width: '60vw' }" [modal]="true" [draggable]="false" [resizable]="false">
	<div class="formgrid grid">
		<div class="field col">
			<label for="documentName">Product Name</label>
			<input pInputText [(ngModel)]="objShowDetail.product_name" class="form-control" type="text" />
		</div>
		<div class="field col">
			<label for="documentName">Down Payment Active</label>
			<p-dropdown [options]="arrIsPayCut" [(ngModel)]="objShowDetail.is_down_payment" styleClass="form-control"></p-dropdown>
		</div>
	</div>
	<div class="formgrid grid">
		<div class="field col">
			<label for="documentName">Loan Type</label>
			<input pInputText class="form-control" [(ngModel)]="objShowDetail.loan_type_name" type="text" />
		</div>
		<div class="field col">
			<label for="documentName">Is Bonus Paycut</label>
			<p-dropdown [options]="arrIsPayCut" [(ngModel)]="objShowDetail.is_bonus_paycut" styleClass="form-control"></p-dropdown>
		</div>
	</div>
	<div class="formgrid grid">
		<div class="field col-6">
			<label for="documentName">Max Tenor</label>
			<input pInputText class="form-control" [(ngModel)]="objShowDetail.id_max_term" type="text" />
		</div>
	</div>
	<div class="formgrid grid">
		<div class="field col-6">
			<label for="documentName">Min Plafond</label>
			<input pInputText class="form-control" [(ngModel)]="objShowDetail.min_plafond" type="text" />
		</div>
	</div>
	<div class="formgrid grid">
		<div class="field col-6">
			<label for="documentName">Max Plafond</label>
			<input pInputText class="form-control" [(ngModel)]="objShowDetail.max_plafond" type="text" />
		</div>
	</div>
	<div class="formgrid grid">
		<div class="field col">
			<label for="documentName">Interest</label>
			<div class="form-row mb-2" *ngFor="let item of arrInteres; let i = index">
				<div class="col-md-3 d-flex align-items-center"><p-checkbox [binary]="true" name="isCheck{{ i }}" [label]="item.label" [(ngModel)]="item.isCheck"></p-checkbox></div>
				<div class="col-md-9"><input type="text" name="interes{{ i }}" [(ngModel)]="item.interes" [disabled]="!item.isCheck" placeholder="Interes" class="form-control" /></div>
			</div>
		</div>
		<div class="field col">
			<label for="documentName">Fees</label>
			<div class="form-row mb-2" *ngFor="let item of arrFees; let i = index">
				<div class="col-md-6 d-flex align-items-center"><p-checkbox [binary]="true" name="isCheck{{ i }}" [label]="item.label" [(ngModel)]="item.isCheck"></p-checkbox></div>
				<div class="col-md-6"><input type="text" name="fee{{ i }}" [(ngModel)]="item.feesValue" [disabled]="!item.isCheck" placeholder="Fee Value" class="form-control" /></div>
			</div>
		</div>
	</div>
	<p-footer>
		<button type="button" pButton icon="pi pi-check" (click)="displayForm = false" label="Yes"></button>
		<button type="button" pButton icon="pi pi-times" (click)="displayForm = false" label="No" class="ui-button-secondary"></button>
	</p-footer>
</p-dialog>
